.c-card {
  position: relative;
  overflow: hidden;

  @include iota-breakpoint(xxs) {
    height: 40rem;
  }

  @include iota-breakpoint(xs) {
    height: 35rem;
  }

  @include iota-breakpoint(sm) {
    height: 35rem;
  }

  @include iota-breakpoint(md) {
    height: 40rem;
  }

  &__card-image {
    height: 100%;
  }

  &__card-image img {
    border-style: none;
    width: 100%;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: top;
  }

  &__card-content {
    bottom: 0;
    text-align: center;
    left: 0;
    height: -webkit-fill-available;
    margin: 1rem;
    position: absolute;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    margin: 3rem;
    height: auto;
  }

  &__card-content--hover {
    height: 100%;
    justify-content: flex-end;
  }

  &__card-title {
    font-size: 2rem;
    font-family: 'ObelixPro';
    color: color(white);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 3rem;
  }

  &__card-power {
    font-family: 'ObelixPro';
    color: color(white);
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;

    @include iota-breakpoint(xxs) {
      font-size: 1rem;
      line-height: 2rem;
    }
    @include iota-breakpoint(md) {
      font-size: 2rem;
      line-height: 4rem;
    }
    @include iota-breakpoint(lg) {
      font-size: 2rem;
      line-height: 4rem;
    }
  }

  &__card-power:last-child {
    margin-bottom: auto;
  }

  &__team-toggle {
    color: color(white);
    padding: 1rem;
  }

  &__arrow-circle {
    color: color(white);
    font-size: 2.5rem;
    width: fit-content;
    margin: 0px auto;
  }

  &__description {
    background: #0084ff url('../../../shared/assets/images/bg-card.svg')
      no-repeat bottom right;
    height: 100%;
  }
}

.c-card a::selection img,
.c-card a:focus img {
  border: 20px solid orange;
}
