/*
* Define colors in the $color map, and grab them using the function
* i.e. background-color: color(yellow);
*/

$colors: (
  black: #000,
  white: #fff,
  blue: #0084ff,
  orange: #f9873d,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn 'That color is not defined: \'#{$key}\'';
}
