/**
 * IotaCSS reset
 */
 $iota-base-initialize-box-sizing:           'border-box';
 $iota-base-initialize-heading-size:         true;
 $iota-base-initialize-form-elements:        true;
 $iota-base-initialize-html5-form-elements:  true;
 
 @import '../../../node_modules/iotacss/base/initialize';

/**
* ADK-Defined initialization rules
* font-size: 62.5% === 10px in 99% of cases, and it lets us use REM with base-10 multiplication, making development easier
* Example: 140rem = 1400px
* Now isn't that nice?
*/

html { font-size: 62.5%; }
#root { height: 100% }

img, 
svg { display: block; }

* { box-sizing: border-box; }