.c-header {
  display: flex;
  flex-direction: row;

  @include iota-breakpoint(xxs) {
    height: 8rem;
  }
  @include iota-breakpoint(md) {
    height: 10rem;
  }

  &__filters-open {
    height: 20rem;
  }

  &__wrapper {
    background-color: color(white);
    box-shadow: 0px 2px 4px #b0b0b080;
    position: absolute;
    width: -webkit-fill-available;
    z-index: 999;
    position: fixed;
    width: 100%;
  }

  &__logo {
    @include iota-breakpoint(xxs) {
      width: 100%;
    }
    @include iota-breakpoint(md) {
      width: initial;
    }
    a {
      font-size: 2rem;
      font-family: 'ObelixPro';
      color: color(black);
      align-self: center;
      font-weight: 700;
      letter-spacing: 0;
      white-space: nowrap;

      @include iota-breakpoint(md) {
        margin-right: 10rem;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    z-index: 12;
    width: 100%;
    @include iota-breakpoint(xxs) {
      padding: 2.5rem 2rem;
    }

    @include iota-breakpoint(md) {
      padding: 2.5rem 4rem;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: flex-start;

    @include iota-breakpoint(xxs) {
      justify-content: space-between;
    }

    @include iota-breakpoint(md) {
      justify-content: flex-start;
    }
  }

  &__menu-item {
    color: #000000;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 0.5rem 2rem;
    padding-bottom: 1rem;
    display: none;
    border-bottom: 0.4rem solid white;
    &:hover {
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #0084ff;
    }
    @include iota-breakpoint(md) {
      display: block;
    }
  }

  &__menu-item--active {
    border-bottom: 0.4rem solid blue;
  }
  &__menu-filter .clean-filter {
    @include iota-breakpoint(xxs) {
      display: none;
    }
    @include iota-breakpoint(md) {
      padding-right: 1rem;
      display: initial;
    }
  }

  &__menu-filter .clear-filter {
    margin-left: auto;
  }

  &__menu-filter:last-child {
    margin-left: auto;
  }

  @include iota-breakpoint(xxs) {
    .ant-btn > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 0px;
    }
  }

  @include iota-breakpoint(md) {
    .ant-btn > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 10px;
    }
  }

  &__menu-filter .anticon {
    @include iota-breakpoint(xxs) {
      visibility: hidden;
      width: 0px;
    }

    @include iota-breakpoint(md) {
      visibility: visible;
      width: inherit;
    }
  }

  &__sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden;
    padding-top: 8rem;
    transition: 0.5s;
    @include iota-breakpoint(xxs) {
      display: block;
    }
    @include iota-breakpoint(md) {
      display: none;
    }
  }
  &__sidebar-active {
    width: 100vw;
    box-shadow: 2px 0px 4px #b0b0b080;
    .c-header__menu-item {
      display: block;
      text-align: center;
      width: 80%;
      margin: 2rem auto;
    }
  }

  &__filters {
    height: 0rem;
    z-index: 1;
    background-color: #fff;
    transition: 0.5s;
    position: fixed;
    width: 100%;
    overflow: hidden;
    display: none;
  }
  &__filters-active {
    display: block;
    @include iota-breakpoint(xxs) {
      height: 90vh;
      overflow-y: scroll;
    }
    @include iota-breakpoint(md) {
      height: auto;
      min-height: 15vh;
    }
    box-shadow: 0px 2px 4px #b0b0b080;
  }
}

.c-menu {
  display: block;
  text-align: center;
  justify-content: space-between;
  @include iota-breakpoint(md) {
    display: none;
  }
}

.ant-btn-background-ghost.ant-btn-primary {
  font-weight: bold;
}
