.c-header {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  height: 8rem;

  @include iota-breakpoint(md) {
    height: 10rem;
  }

  &__wrapper {
    background-color: color(white);
    box-shadow: 0px 2px 4px #b0b0b080;
    position: absolute;
    width: -webkit-fill-available;
    height: 8rem;
    z-index: 9999;
    position: fixed;

    @include iota-breakpoint(xxs) {
      padding: 3rem 2rem;
    }

    @include iota-breakpoint(md) {
      height: 10rem;
      padding: 3rem 4rem;
    }
  }

  &__logo {
    @include iota-breakpoint(xxs) {
      width: 100%;
    }
    @include iota-breakpoint(md) {
      width: initial;
    }
    a {
      font-size: 2rem;
      font-family: 'ObelixPro';
      color: color(black);
      align-self: center;
      font-weight: 700;
      letter-spacing: 0;
      white-space: nowrap;

      @include iota-breakpoint(md) {
        margin-right: 10rem;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    z-index: 12;
    width: 100%;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: flex-start;

    @include iota-breakpoint(xxs) {
      justify-content: space-between;
    }

    @include iota-breakpoint(md) {
      justify-content: flex-start;
    }
  }

  &__menu-item {
    color: #000000;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin: 0.5rem 2rem;
    padding-bottom: 1rem;
    display: none;
    &:hover {
      transition: all 0.2s ease-in-out;
      background: #fff;
      color: #0084ff;
    }
    @include iota-breakpoint(md) {
      display: block;
    }
  }

  &__menu-item--active {
    border-bottom: 0.4rem solid blue;
  }

  &__menu-filter:last-child {
    margin-left: auto;
  }

  @include iota-breakpoint(xxs) {
    .ant-btn > .anticon + span,
    .ant-btn > span + .anticon {
      margin-left: 0px;
    }
  }

  &__menu-filter .anticon {
    @include iota-breakpoint(xxs) {
      visibility: hidden;
      width: 0px;
    }

    @include iota-breakpoint(md) {
      visibility: visible;
      width: inherit;
    }
  }
}

.c-menu {
  display: block;
  text-align: center;
  justify-content: space-between;
  @include iota-breakpoint(md) {
    display: none;
  }
}
