$border-radius-base: 3px;
$border-radius-sm: 2px;
$shadow-color: rgba(0, 0, 0, 0.05);
$shadow-1-down: 4px 4px 40px $shadow-color;
$border-color-split: #f4f4f4;
$border-color-base: #e5e5e5;
$font-size-base: 13px;
$text-color: #666;
$hover-color: #f9f9fc;
$white: #fff;

$text-color-secondary: rgba(0,0,0,.45);
$heading-color: rgba(0,0,0,.85);

$background-color-light: hsv(0, 0, 98%); // background of header and selected item
$background-color-base: hsv(0, 0, 96%); // Default grey background color

// Disabled states
$disabled-color: fade(#000, 25%);
$disabled-bg: $background-color-base;
$disabled-color-dark: fade(#fff, 35%);
$component-background: #fff;

$dark-half: #494949;
$purple: #d897eb;
$shadow-1: 4px 4px 20px 0 rgba(36, 23, 23, 0.01);
$shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
$transition-ease-in: all 0.3s ease-out;
$transition-ease-out: all 0.3s ease-out;
$ease-in: ease-in;

// Border color
$border-color-base: hsv(0, 0, 85%); // base border outline a component
$border-color-split: hsv(0, 0, 91%); // split border inside a component
$border-color-inverse: $white;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid; // style of a components border

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large descktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

// Grid system
$grid-columns: 24;
$grid-gutter-width: 0;

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin text-overflow() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin clearfix() {
  zoom: 1;
  &::before,
  &::after {
    content: ' ';
    display: table;
  }
  &::after {
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
}

@mixin textOverflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

@mixin textOverflowMulti($line: 3, $bg: #fff){
  position: relative;
  max-height: $line * 1.5em;
  margin-right: -1em;
  padding-right: 1em;
  overflow: hidden;
  line-height: 1.5em;
  text-align: justify;
  &::before {
    position: absolute;
    right: 14px;
    bottom: 0;
    padding: 0 1px;
    background: $bg;
    content: '...';
  }
  &::after {
    position: absolute;
    right: 14px;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
    content: '';
  }
}


.text-gradient {
  background-image: -webkit-gradient(
    linear,
    37.219838% 34.532506%,
    36.425669% 93.178216%,
    from(#29cdff),
    to(#0a60ff),
    color-stop(0.37, #148eff)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-gradient() {
  background-image: -webkit-gradient(
    linear,
    37.219838% 34.532506%,
    36.425669% 93.178216%,
    from(#29cdff),
    to(#0a60ff),
    color-stop(0.37, #148eff)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background-hover {
  transition: $transition-ease-in;
  &:hover {
    background-color: $hover-color;
  }
}

@mixin background-hover() {
  transition: $transition-ease-in;
  &:hover {
    background-color: $hover-color;
  }
}

$primary-color: blue;