@keyframes spiderManEnter {
  0% {
    transform: translateY(-100%);
    visibility: hidden;
  }
  50% {
    transform: translateY(10%);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes spiderManExit {
  0% {
    transform: translateY(0);
    visibility: visible;
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.c-login {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  @include iota-breakpoint(md) {
    height: 100%;
  }

  &.is-enter:after {
    animation: spiderManEnter 1000ms 600ms ease forwards;
  }
  &.is-exit:after {
    animation: spiderManExit 1000ms ease-in forwards;
  }

  /* SPIDERMAN IMAGE */
  &::after {
    content: '';
    background-image: url('../../../shared/assets/images/75269-america-superhero-cup-comics-spider-man-captain.png');
    transform: translateY(-100%);
    position: absolute;
    top: -6rem;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @include iota-breakpoint(xxs) {
      display: none;
    }

    @include iota-breakpoint(md) {
      height: 32rem;
      width: 30rem;
      display: block;
    }

    @include iota-breakpoint(lg) {
      height: 35rem;
      width: 30rem;
      display: block;
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('../../../shared/assets/images/enter_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }

  &__title {
    color: color(white);
    font-family: 'ObelixPro';
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-top: 10%;

    @include iota-breakpoint(xxs) {
      font-size: 1.5rem;
      line-height: 3rem;
    }

    @include iota-breakpoint(xs) {
      font-size: 2rem;
      line-height: 4rem;
    }

    @include iota-breakpoint(sm) {
      font-size: 3rem;
      line-height: 5rem;
    }

    @include iota-breakpoint(md) {
      font-size: 3rem;
      line-height: 5rem;
    }

    @include iota-breakpoint(lg) {
      font-size: 3.5rem;
      line-height: 6rem;
    }
  }

  &__button {
    background: color(orange);
    font-family: 'ObelixPro';
    cursor: pointer;
    margin: auto;
    color: color(white);
    border: none;
    padding: 1rem 4rem;
    margin: 1rem auto;
    display: block;

    @include iota-breakpoint(xxs) {
      font-size: 1.5rem;
    }

    @include iota-breakpoint(xs) {
      font-size: 1.5rem;
    }

    @include iota-breakpoint(sm) {
      font-size: 2rem;
    }

    @include iota-breakpoint(md) {
      font-size: 3rem;
    }
  }

  &__superhero-group {
    display: flex;
    justify-content: center;

    img {
      flex: none;

      @include iota-breakpoint(xxs) {
        max-height: 50vh;
      }

      @include iota-breakpoint(md) {
        max-height: 85vh;
      }

      @include iota-breakpoint(lg) {
        max-height: 75vh;
      }
    }
  }
}
