/*
* Iota's grid object
* https://www.iotacss.com/docs/objects/grid/
*/
$iota-objs-grid-aligned: true;
$iota-objs-grid-rev: true;
$iota-objs-grid-gutter-default: (
  null: $iota-global-gutter-default
);
$iota-objs-grid-gutter-extra: (
  'flush': (
    null : 0
  )
);
$iota-objs-grid-flex: $iota-global-flex;
$iota-objs-grid-equal-height: true;

@import '../../../../node_modules/iotacss/objects/grid';
