.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form-outer {
  background: #5e72e4;
  /* background: linear-gradient(#057CFE, #5892D0); */
  // width: 100%;
  // max-width: 450px;
  width: 450px;
  height: 100%;
  max-height: 515px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.login-form-header-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header-text {
  margin: auto 0;
  color: #fff;
  align-self: center;
  user-select: none;
}

.login-reset-password-text {
  transition: color 0.2s;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  user-select: none;
  text-align: center;
}

.login-reset-password-text:hover {
  color: #F38D60
}

#password-reset-confirmation-text {
  line-height: 20px;
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 10px;
  margin: 0;
  border-radius: 5px;

  animation:password-reset-confirmation-text 0.5s 1;
  -webkit-animation:password-reset-confirmation-text 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay:3s;
  -webkit-animation-delay:3s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

@keyframes password-reset-confirmation-text {
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes password-reset-confirmation-text {
  from {opacity :1;}
  to {opacity :0;}
}