.login-form {
  max-width: 400px;
  background-color: color(gray);
  border-radius: 5px;
  padding: 3rem 1rem 1rem !important;
  @include iota-breakpoint(xs) {
    padding: 3rem 2rem 1rem !important;
  }
  @include iota-breakpoint(md) {
    max-width: 350px;
  }
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}