@import 'variables.scss';
@import 'styleguide.scss';
@import 'fonts.scss';

body,
html,
main {
  height: 100%;
}

.o-container__texture {
  height: inherit;
  background: rgba(248, 248, 248, 1) url('../assets/images/texture.png')
    no-repeat 60vw top fixed;
  background-attachment: fixed;
  height: fit-content;
  min-height: 100vh;
}
