.c-loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(40, 22, 209, 0.8);
  z-index: 9999;

  &__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;

    div {
      width: 20rem;
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: rotate 8s linear infinite;
    }

    h1 {
      clear: left;
      font-size: 2rem;
      color: #fff;
      font-family: 'ObelixPro';
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
